::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: orange;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-image: url("./Img/spookyBg.jpg");
  margin: 0;
  padding: 0;
}
body * {
  font-family: "Griffy", cursive;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.time {
  color: orange;
  text-align: center;
  margin: 0% auto;
}

.spooky_img {
  border: solid 5px orange;
}

button {
  border: solid black 1px;
  border-radius: 4px;
  background-color: orange;
  color: black;
  font-weight: bold;
}

.spookySlicer {
  position: relative;
  border: solid 4px orange;
  margin: 0% auto;
  margin-top: 3px;
}

canvas {
  position: absolute;
  border: solid 2px orange;
}

.canvasNumber3 {
  width: calc(100% / 3);
  height: calc(100% / 3);
}

.canvasNumber4 {
  width: calc(100% / 4);
  height: calc(100% / 4);
}

.canvasNumber5 {
  width: calc(100% / 5);
  height: calc(100% / 5);
}

.canvasNumber6 {
  width: calc(100% / 6);
  height: calc(100% / 6);
}

.alertClass {
  position: fixed;
  margin: 0 auto;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  background-image: url("./Img/spoookyAlert.jpg");
  width: 500px;
  height: 100px;
  border: solid 1px orange;
  text-align: center;
  padding-top: 50px;
}
.alertClass h1 {
  color: orange;
  display: block;
  margin: 0 auto;
}
.alertClass button {
  border: solid 1px orange;
  width: 50px;
  height: 30px;
}

.empty {
  background-color: rgba(255, 166, 0, 0.493) !important;
}

@media screen and (max-width: 1460px) {
  body {
    overflow-x: hidden;
  }

  .spooky_img {
    display: block;
    margin: 0 auto;
    width: calc(100vw - 10px);
  }

  .buttonContainer {
    width: 100vw;
    margin: 0;
  }
  .buttonContainer button {
    width: 100%;
    min-height: 30px;
  }

  .time {
    width: calc(100vw - 4px);
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px orange;
  }

  .spookySlicer {
    width: calc(100vw - 8px);
    height: calc(100vw - 8px);
  }
  .spookySlicer img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1461px) {
  .spooky_img {
    display: block;
  }

  .buttonContainer {
    margin: 0;
    padding: 10px;
  }
  .buttonContainer button {
    width: 100%;
    min-height: 30px;
  }

  .spookySlicer {
    position: fixed !important;
    top: 0px;
    right: 0 !important;
    width: 650px;
    height: 591px;
  }
  .spookySlicer img {
    width: 100%;
    height: 100%;
  }
}